/**
 * Header page style
 * 
 * @author - Faizal
 * @date - 14th June, 2023 
 */
 header {
    font-family: 'Monoton', Arial, sans-serif;
    font-size: 46px;
    margin: 0 0 16px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 header img {
    width: 50px;
    margin-right: 16px;
 }