/**
 * Text field style
 * 
 * @author - Faizal
 * @date - 14th June, 2023 
 */
.inputFieldContainer {
    width: '100%';
    border-radius: 8px;
    border: 1px solid #e3e5e7;
}
.inputFieldContainer .MuiInputBase-root {
    font-size: 13px;
}
.inputFieldContainer .MuiInputLabel-root {
    line-height: 10px;
    font-size: 13px;
}
.textFieldRoot {
    padding: 8px 0;
    height: 40px;
}
.multilineRow {
    padding: 8px 16px;
    height: auto;
}