/**
 * Text field style
 * 
 * @author - Faizal
 * @date - 14th June, 2023 
 */
.selectFieldContainer .MuiInputLabel-root {
    line-height: 18px;
    font-size: 14px;
    margin-top: -4px;
}
.selectField {
    width: 100%;
    border-radius: 8px;
    text-align: left;
}
.selectField .MuiInputBase-root {
    font-size: 13px;
}
.selectFieldRoot {
    padding: 8px 0;
    height: 40px;
}
.selectFieldOption {
    display: block;
}