/**
 * Home page style
 * 
 * @author - Faizal
 * @date - 14th June, 2023 
 */
 .root {
    width: 850px;
    margin: 0 auto 0 auto;
    text-align: center;
    border: 1px solid #e3e5e7;
    padding: 30px 30px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px #e3e5e7;
 }
 .cubes-root {
   position: relative;
 }
 .row-box {
    height: 73px;
 }
 .form-layout {
   height: 100%;
 }
 .alert {
   margin-bottom: 20px
 }
 .vacuum-icon {
   position: absolute;
   z-index: 1
 }
.cmdConatiner {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
  gap: 8px; 
}