/**
 * Cube style
 * 
 * @author - Faizal
 * @date - 14th June, 2023 
 */
.cube-root {
  display: inline-block;
  width: 70px;
  height: 70px;
  background: #ecf0f1;
  border: 1px solid #dfe3e6;
  border-radius: 2px;
  margin: 0.5px;
  animation: all 0.5 linear;
  position: relative;
}
.cube-root:hover {
  background-color: #d9d9d9;
  border-color: #d9d9d9;
  cursor: pointer;
}
.active-cube {
  background-color: #1abc9c;
  border-color: #1abc9c;
  cursor: pointer;
}
.cube-axis {
  position: absolute;
  bottom: 2px;
  right: 2px;
  color: #bdc3c7;
  font-size: 9px;
}
.cube-root:hover .cube-axis, .active-cube .cube-axis {
  color: #fff;
}